#!/bin/sh -e

# Example rc.local to drop in your Pi's /etc directory. You'll likely have to replace the existing one with this.
# Be sure to set the execution bit (chmod +x rc.local)
# An easy way to check if the script is running is ps -ef | grep multicast

# Uncomment the following lines for help debugging
# exec 2> /tmp/rc.local.log  # send stderr from rc.local to a log file
# exec 1>&2                      # send stdout to the same log file
# set -x                         # tell sh to display commands before execution

# This usually provides enough time for the Pi to connect to my wifi.
sleep 20

# Start PiHub
(
  cd /home/pi/PiHubBleAwsIoT
  ./multicast_ble.py &
)

exit 0